<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title><%= title || "Page" %> - Jeopardy Bot</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <style>
    @keyframes logo-jump {
      to {
        transform: translate(0, -15px);
      }
    }

    nav.navbar {
      border-bottom: 1px solid #f86e21;	
    }

    nav.navbar.mini {
      opacity: 0.95;
      transition: opacity 0.2s ease;
    }

    nav.navbar.mini:hover {
      opacity: 1;
    }
  </style>
<script>
document.addEventListener('DOMContentLoaded', () => {
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
    <a class="_brand navbar-item" href="/"><img class="__logo" src="/img/jeppic.png"> &nbsp; Jeopardy Bot</a>
    <div class="navbar-burger burger" data-target="navbarmobile">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarmobile" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/players">Players</a>
      <a class="navbar-item" href="/lb">Leaderboard</a>
      <a class="navbar-item" href="https://discord.gg/FNNNgqb">Join our Discord</a>
      <a class="navbar-item" href="https://botsfordiscord.com/bots/507725259617599509">BFD</a>
      <a class="navbar-item" href="https://discordbots.org/bot/507725259617599509">DBL</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a onclick="__toggleHelpDropdown()" class="navbar-link">More</a>
        <div id="_help_dropdown" style="display: none;" class="navbar-dropdown">
          <a href="/docs/commands" target="_blank" class="navbar-item">Command List</a>
          <a href="/docs/privacypolicy" class="navbar-item">Privacy Policy</a>
          <a href="/docs/license" class="navbar-item">Website License</a>
          <a href="/partners" class="navbar-item">Partners</a>
          <a href="/docs/contributors" class="navbar-item">Contributors</a>
      </div>
      </div>
    </div>
        <div class="navbar-end">
            <% if (!user) { %>
              <a href="/auth" class="navbar-item">Login</a>
            <% } else { %>
              <div class="navbar-item has-dropdown is-hoverable">
                  <a onclick="__toggleUserDropdown()" class="navbar-link"><%= user.username + "#" + user.discriminator %></a>
                  <div id="_user_dropdown" style="display: none;" class="navbar-dropdown">
                    <a href="/profile/<%= user.id %>" class="navbar-item">Profile</a>
                    <a class="navbar-item" href="/auth/logout">Logout</a>
                  </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // Hotfix for the user dropdown
  function __toggleUserDropdown() {
    $("#_user_dropdown").toggle();
  }
  function __toggleHelpDropdown() {
    $("#_help_dropdown").toggle();
  }
</script>
</nav>

