<%- include('../views/partials/header.ejs') %>
<section class="hero is-medium is-info">
    <div class="hero-body">
      <div class="container">
      </div>
    </div>
  </section>
<%- include('../views/partials/footer.ejs') %>