<%- include('../views/partials/header.ejs') %>
<section class="hero is-medium is-info">
    <div class="hero-body">
      <div class="container">
      </div>
    </div>
  </section>

<style>
</style>
<section>
  <% for(var x = 0; x < result.length; x++) { %>
        <a href=./profile/<%= result[x].userid %>><%= result[x].username %>
        <br>
    <% } %>
    </section>
<%- include('../views/partials/footer.ejs') %>
